[2022-01-27 18:23] mxcl opened #3 "Don’t output color codes if stdout/stderr are not TTYs"

[2022-01-31 16:10] mxcl opened #4 "Need linting when incorrectly not using `await` with `async` function"
Too easy to do and not easy to spot.

[2022-02-11 14:45] mxcl opened #5 "Error for unknown arguments if `--strict`, warning if `--strict=no`, no output if `--quiet`"

[2022-05-18 19:29] jhheider opened #6 "Version logic can defeated by... weirdness"
`useGitHubAPI().getVersions()` doesn't like [this](https://github.com/ninja-build/ninja/tags?after=v1.3.1). I can't say I blame it. Need some logic to work around that.

Currently, `... scripts/build.ts ninja-build.org@1` works fine, but this kind of nonsense will happen elsewhere.

[2022-05-26 14:08] mxcl opened #7 "GPG sign GitHub Action created releases"
- [ ] Store the key securely. (@Xercesblu3 to research this)
- [ ] @jhheider to implement

Longer term storing the key in as a GitHub Secrets is not sufficient and we will need to determine something better.

Longer term we will need releases to be approved via a push notification to the devices of @mxcl and @jhheider, this will pause the actions run waiting on that in some manner.

[2022-06-14 01:12] #6 closed, assigned to nobody

[2022-06-15 14:22] mxcl opened #24 "If there’s a `VERSION` file, coerce the version out of it"
Eg. go.dev has a VERSION file that contains eg. `go1.18.3`

[2022-06-15 17:16] #5 closed, assigned to nobody

[2022-06-17 22:34] jhheider opened #29 "-rc1 version masquerades as release"
https://github.com/Kitware/CMake/releases

v3.24.0-rc1 makes us think that we can build v3.24.0, but then we 404 on download.

[2022-06-21 14:20] mxcl opened #33 "Shell hook needs to work if user already has a chdir shell hook"
Need thoughts on this, though I think we can release without solving it and see what happens.

[2022-06-21 14:22] #29 closed, assigned to nobody

[2022-07-02 11:44] mxcl opened #38 "`npm` versioning woe"
`npm` ships with `node` but is versioned independently.

1. We control versions, so we should patch it to not prompt the user to run `npm i -g npm@latest` to update it, (instead prompting them to use `tea update npm` (where `update` will be a teaxyz/cmd cmd-fork).
2. How do we handle it otherwise? Perhaps:
    * Make it `npmjs.org` with separate versioning
    * Don't bundle it with `nodejs.org`

[2022-07-15 19:04] mxcl opened #48 "Resumable, parallel downloads"
~Currently we stream downloads to final dst and this means the file is corrupt if the download fails. Generally we assume the file existing means it is cool so it breaks shit.~

No, actually, we want *resumable downloads.

[2022-08-30 17:05] Xercesblu3 opened #50 "Build cli For aarch On Releases"
Build tea/cli for aarch platforms on tea/cli releases

[2022-09-09 12:58] mxcl opened #53 "Environment Variables are not passed through"
`Deno.run()` doesn't pass through stuff so eg. `TEA_PREFIX` gets lost if set.

We need an `exec` anyway maybe we should just implement it.

[2022-09-11 15:23] mxcl opened #54 "We're not updating versions.txt for ourselves"
Need to do that in `cd.yml`.

[2022-09-21 15:06] Xercesblu3 opened #58 "More Efficient Downloads"
- Stream downloads into the SHA256 digest function AND write to file.
           - in useDownload.ts
- Download the checksum file simultaneously (async/await)
- when download is complete compare the two shas (this already happens)

[2022-09-21 15:10] Xercesblu3 opened #59 "Better `.checksums` file"
- Store checksums in a single file `checksums` in the `www` directory
         - There is a standard format for this
- If files to be downloaded are already downloaded (except checksums, ALWAYS download the checksums)
         - Do the If Modified Since check
         - If not modified fetch the checksum file anyway and compare from disk

[2022-09-22 13:10] mxcl opened #60 "When `tea` is a local checkout stepping into directories with `deno.json` have side effects"

[2022-09-23 13:44] #50 closed, assigned to jhheider

[2022-09-23 13:44] #54 closed, assigned to nobody

[2022-10-02 14:56] mxcl opened #70 "allow script input from stdin"
eg. this should work:

[code]

Implementation details:
* rustc should receive the stdin, we should not write out the script for it

[2022-10-11 12:23] mxcl opened #77 "use `sandbox-exec` on macOS to restrict writes to TEA_PREFIX"

[2022-10-11 17:44] #53 closed, assigned to nobody

[2022-10-15 13:26] getneil opened #79 "tea.xyz 0.8.2 throws missing hugo command error in staging GHAction teaxyz/setup@v0"
Error Example: https://github.com/teaxyz/www/actions/runs/3255802342/jobs/5345516440

But 0.8.1 is ok: https://github.com/teaxyz/www/actions/runs/3253330508/jobs/5340498384

[2022-10-15 17:52] #79 closed, assigned to nobody

[2022-10-15 18:37] #58 closed, assigned to kunalgoyal9

[2022-10-18 19:21] Xercesblu3 opened #82 "Incorrect env Set When Moving Directories"
Moving from one env to another doesn’t set that env correctly

[2022-10-18 19:23] Xercesblu3 opened #83 "MacOS Bottle Preference"
Prefer xz bottles on macOS

[2022-10-18 19:27] Xercesblu3 opened #84 "`tea -Eds` pending packages works"
`tea -Eds` pending packages works

[2022-10-18 19:28] Xercesblu3 opened #85 "Store etag So Downloads Use Cache"
store and use etag in useDownload() so [github.com](http://github.com/) downloads use cache

[2022-10-19 15:07] Xercesblu3 opened #86 "S3 Fallback and Backup"
Code useCache.ts, useOffLicense.ts, and prefab/install.ts to use IPFS with an S3 backup

- change useOffLicense type Type = 's3' | 'ipfs', and add appropriate logic to the two functions
- add a useRepository hook and change useCache.ts/install.ts to use its .download() function
- use S3 as a fallback if .ipfs file is not found or if the path errors/404s

[2022-10-21 12:32] #84 closed, assigned to Xercesblu3

[2022-10-21 12:51] mxcl opened #88 "binaries for aarch64 Mac attached to the tea releases don’t run"
It's a code signing issue or something. Sigh.

[2022-10-21 15:04] mxcl opened #89 "lint step that errors if any `console.log` is left in NON DRAFT prs"
error for:

* any use of `console.log`
* failing to await a promise inside an `if` statement

[2022-10-24 20:55] #88 closed, assigned to nobody

[2022-10-24 21:22] #83 closed, assigned to jhheider

[2022-10-25 12:41] mxcl opened #95 "`usePantry.git.ts` flock can make tea hang"
the filesystem lock is outside of our process. We need to catch signals and unlock and also be able to recover from not unlocking because our process was killed unceremoniously.

[2022-10-26 16:54] Xercesblu3 opened #97 "Open Terminal on Copy"
We need an app developed/installed to the tea/cli to automatically open the terminal via the user’s web browser (tea www) when they click-to-copy the tea one-liner. The one-liner should be automatically pasted/entered into the terminal upon starting. Currently, the tea/cli asks users if they would like to install tea via a y/n question. If this could be bypassed, that would better ensure an instal

[2022-10-27 01:27] #95 closed, assigned to nobody

[2022-10-29 21:17] mxcl opened #109 "zsh completion for `tea +pkg`"
The results can be obtained with:

[code]

[2022-10-30 14:16] mxcl opened #110 "useShellEnv pkgs order potentially changes"
@jhheider you used `OrderedSortedSet` rather than `OrderedSet`. Docs suggest the sorted set changes the order:

<img width="645" alt="image" src="https://user-images.githubusercontent.com/58962/198883390-d8ace216-930d-420b-8179-5b945e7ff1e9.png">

* https://rimbu.org/api/rimbu/sorted/SortedSet/interface
* https://rimbu.org/api/rimbu/ordered/OrderedSortedSet/interface

Changing the order is incorre

[2022-10-30 19:14] mxcl opened #112 "`curl dist.tea.xyz` should download the latest tea.xyz tarball"
We have this in the `README` it's a neat idea.

Needs a lambda on our cloudfront to do it, and it should only do it for `cURL` so we can provide the web listing for the whole of `dist.tea.xyz` like I keep asking @jhheider to do.

[2022-10-31 14:28] #38 closed, assigned to nobody

[2022-10-31 20:16] #110 closed, assigned to jhheider

[2022-11-01 17:21] jhheider opened #118 "semver intersection bug"
We had an issue in pantry.core with `semver` not being able to resolve `^14` and `^14||^16||^18` into a satisfying version. It's likely an easy fix; don't want to forget to do it.

[2022-11-03 12:22] jhheider opened #119 "tea REPL doesn't like /bin/bash"
Interestingly, even running it in zsh fails if env.SHELL = /bin/bash.

[code]

[2022-11-03 12:23] jhheider opened #120 "go demo is missing"
[code]

[2022-11-04 03:36] keith opened #123 "Installer fails after terminal with temporarily run tea"
It seems that in the case I run a temporary tea invocation from the readme, and then the installer, the installer fails:

[code]

To get the installer actually working I have to create a new terminal and run it again. This is on macOS ventura.

I guess I'm in a nested session here where I should exit, and then install, but ideally this would "just work"

[2022-11-04 04:12] jhheider commented on #123
Did you ever exit the REPL (I don't see it above)? Definite a bug if the installer can't run in the REPL, but I would expect the following to work:
[code]

[2022-11-04 04:15] jhheider opened #124 "tea REPL should be clearly a tea REPL"
possibly: `export PS1=${PS1%%}- tea-REPL %`

[2022-11-04 04:16] jhheider commented on #123
something like https://github.com/teaxyz/cli/issues/124 would make it clearer.

[2022-11-04 04:26] keith commented on #123
I didn't exit the repl, I assume if I did it would have worked for sure

[2022-11-04 09:50] #119 closed

[2022-11-04 10:05] mxcl commented on #123
Thanks Keith, taking a look. The REPL behavior was fairly recent and we forgot to test it against the “temporary” installer mode.

[2022-11-04 10:07] mxcl commented on #124
We do for `zsh`: https://github.com/teaxyz/cli/blob/main/src/app.exec.ts#L276

I imagine Keith uses zsh, but all the same this needs expanding for sure.

[2022-11-04 10:42] mxcl commented on #123
oh ok, yeah this is indeed that our “REPL” didn't provide a prompt for this shell. What shell @keith?

[2022-11-04 10:42] mxcl commented on #123
Though our REPL should totes have `tea` in the `PATH` lol. Can fix that.

[2022-11-04 11:38] keith commented on #123
Zsh, sorry should have included that

[2022-11-04 11:59] mxcl commented on #123
oh weird, that's only one we assign a prompt

[2022-11-04 12:14] keith commented on #123
I imagine my config overwrites it

[2022-11-04 20:39] tsmitty11 commented on #97
@mxcl @Xercesblu3 I opened a draft PR with the necessary UI changes for the 'open in terminal' button. That [PR can be found here](https://github.com/teaxyz/www/pull/176), and here's a Loom video showing the change:

https://www.loom.com/share/c0b7616789c14a8585f064d9324170b5

[2022-11-05 19:19] RyanSinger opened #128 "running make on the whitepaper didn't respond as expected"
[code]

[2022-11-06 15:55] davidtai opened #130 "cannot run teaxyz/www example an other tea . issues"
In https://github.com/teaxyz/www, when I run:
[code]

I get an issue with temporary files:

[code]

This occurs in WSL Ubuntu and OSX.

[2022-11-06 17:39] RyanSinger opened #132 "tea command doesn't execute python scripts"
The README says tea can be used to run scripts, it it doesn't work.
[code]

[2022-11-06 17:59] davidtai opened #133 "Unreachable Code Preventing Short Circuit"
While helping Montek with an error:

![image](https://user-images.githubusercontent.com/8346495/200186951-c921d35f-4ddd-426e-9fc3-ecb0ac01d4cf.png)

I discovered that this error which should be triggering when there's no commands in the README.md is unreachable:
https://github.com/davidtai/cli/blob/04a93c00750eb73bb35cd60a220ef42ffdcfe46a/src/app.exec.ts#L117

a check for `} else if (args.length =

[2022-11-06 19:11] magnusviri commented on #132
Try `tea -X python setus.py`. I'm not sure if it will work. This might work also. `tea +python.org ./setup.py`  The idea is one needs to tell tea what dependencies are needed. The first one does it with -X python, basically saying to add python's dependencies. The second one does it by specifying the dependency, +python.org.

[2022-11-07 11:59] mxcl commented on #132
`tea setup.py` should work yeah. Let me see if we accidentally broke this.

[2022-11-07 13:16] #132 closed

[2022-11-07 13:17] mxcl commented on #132
0.11.7 is being built. You should be able to upgrade with `sh <(curl tea.xyz)` in about 20 mins.

Please LMK how using it for stable-diffusion goes. My intent is to support python and pypa modules first class including pre-building any binaries for modules required, but my experience with Python is relatively limited so I'll need pointers. 🙏

[2022-11-07 15:10] davidtai commented on #133
Here's a somewhat concerning scenario

[code]

If you type in `tea .` then tea tries to execute `.` because `# Getting Started` is empty and triggers a `os 13 error`.  If you type in `tea sh`, it will execute sh as the `# sh` block has no command.

[2022-11-07 19:58] benjaminbours opened #137 "panic:null"
I tried to run `tea .` in this repo I just cloned.

Running on MacOs M1 ship.

 I'm just approaching the project, cannot really provide more info so far.

[code]

[2022-11-07 20:06] mxcl commented on #137
Thanks, I'm sure I can reproduce this.

[2022-11-07 20:11] benjaminbours opened #138 "Example not working"
[code]

Is returning

[code]

While in the `README.md` we can see [this written](https://github.com/teaxyz/cli#executable-markdown).

[2022-11-07 21:44] mxcl commented on #137
This because we don’t have enough tests :/

[2022-11-07 21:59] #137 closed

[2022-11-08 10:37] byronrode opened #142 "panic:Not a directory (os error 20), stat '/usr/local/bin/php/git"
[code]

## System Info

macOS Ventura - 13.0
ZSH Shell
Use Mackup for dot file/app prefs backups, but .tea not currently symlinked
Python environments are run via `pyenv`

## Additional Notes

Initially I attempted to install v0.11.4 but that never prompted for the symlink for `tea` to be added. I first installed v0.11.10 just by running the install command, but to make sure I wasn't using anythin

[2022-11-08 12:02] mxcl commented on #142
Errors suggest that your git installation is broken.

* Is `/usr/local/bin/php/git` is file?
*Does it run?
* What does `which git` say?
* How about `git --version`?

[2022-11-08 12:09] byronrode commented on #142
Perhaps also worth noting is that all git commits are GPG-signed, not that I think it would be an issue.

[2022-11-08 12:09] byronrode commented on #142
Let me check my `PATH` setup, might also be something lingering there. Would it help if I shared current `PATH`?

[2022-11-08 12:13] mxcl commented on #142
Nah it's cool, I have hacked `Path.ts` to just infer any kinds of errors mean return false, which for now is fine honestly, it's a fail safe.

When we have time we'll fill out the test suite and be more careful.

Update coming up.

[2022-11-08 12:14] mxcl commented on #142
I think I have fixed these issues yesterday. Hopefully 🤞

Thank you so much for the detailed report. LMK if not fixed in ~20 mins

[2022-11-08 12:15] byronrode commented on #142
Epic.

Additionally, there was the following `export PATH=/usr/local/bin/php:$PATH` in my `.zshrc` but removing it and starting a new shell session didn't change the outcome. Outside of the above, it is very likely that I have something in my `PATH` that is way past it's sell-by date ;)

[2022-11-08 12:16] mxcl commented on #142
Oh is it the same error? As I'm not sure where it would find `/usr/local/bin/php` if not from your `PATH`.

[2022-11-08 12:17] #142 closed

[2022-11-08 12:19] mxcl commented on #142
Even so, 0.11.11 should fix that specific issue by not throwing if the `Path` contains directories that don’t exist when checking if something is a file 🤦‍♂️

[2022-11-08 12:20] mxcl commented on #138
Though this particular usage would be hilarious since it will essentially run `sh <(curl tea.xyz)` after cloning tea/cli :D

[2022-11-08 12:20] byronrode commented on #142
I saw the changes, but it was definitely on my side 🤒  iTerm was holding onto something in the session somewhere, and `source` as well as fresh shell didn't help, but after restarting iTerm and running `tea -S` it worked with no issues.

Thanks for the quick assist.

[2022-11-08 12:23] mxcl commented on #133
yeah `tea .` is possibly not sensible.

Maybe we need a character to indicate “target” since we are being a little too magical here. In theory there's some badness that can happen because we pass things through to the underlying shell but also interpret commands differently if they happen to be in a README.

It's a shame that `tea #foo` cannot work.

[2022-11-08 12:23] mxcl commented on #133
I'll intercept `tea .` and error if no exe/md region is found.

[2022-11-08 13:13] mxcl commented on #142
well `tea` *must* be resilient to incorrect environments. We have to just work! So definitely appreciate the ticket. 👊

[2022-11-08 13:29] mxcl commented on #128
Leaving open until I fix this better.

[2022-11-08 13:30] mxcl commented on #124
Yeah so he is using zsh and we set `PS1`

<img width="687" alt="image" src="https://user-images.githubusercontent.com/58962/200577445-ec120db7-97e4-4afa-a855-20bae53aafc7.png">

So I'm confused, will need to dig deeper

[2022-11-08 13:30] mxcl commented on #124
Maybe his zsh isn't at that path? @keith

[2022-11-08 13:34] mxcl opened #143 "fuzzy string match for incorrect pkg-specs"
For example:

[code]

Should error with the suggestion of `+nodejs.org`.

[2022-11-08 13:42] mxcl commented on #124
@jhheider pls add the same code for `fish`.

[2022-11-08 15:05] mxcl commented on #133
Possibly we should require `tea . foo`

[2022-11-08 16:26] Xercesblu3 commented on #85
@kunalgoyal9 get this one done when you can please.

[2022-11-08 16:27] jhheider commented on #124
Possibly .zshrc or other file is clobbering the PS1 as he thinks. Definitely worth seeing about `fish`; it doesn't try to be POSIX which can make such interop... interesting.

[2022-11-08 17:39] davidtai commented on #133
That should address this.

On the extended conversation about how this feature should work.  I'm not opposed to magic so I think the signature is fine.  But I think it might be a good idea to add a simple preview prompt that displays what commands were found by tea and let the user pick what gets executed.

Not all getting starteds will be one liners.  For example it is common for node projects to

[2022-11-09 05:31] kunalgoyal9 commented on #86
Its done... now need to make IPFS infra more robust

[2022-11-09 08:14] kunalgoyal9 commented on #85
Sure,
@Xercesblu3 Can I get more detail on this one please

[2022-11-09 08:28] jhheider commented on #85
Downloads from CF _should_ return the etag header, which you can pass back on subsequent queries to see if the response would be different or not.

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/ETag

If we save this with useCache downloads, we should be able to quickly know if our cache item is valid or not.

[2022-11-09 13:11] maxsz opened #144 "Error split tea: panic:invalid absolute path:"
On macOS 13 arm64, zsh, node version v16.18.0 I get the following error when trying to run the example directly after installing (`sh <(curl tea.xyz)`). It told me that I have to report the bug, so here you go 😆 Do you have any hint on how I can debug this? Thanks!

[code]

[2022-11-09 13:38] mxcl commented on #144
thank you! It appears you have `.` in your `PATH`. Correct?

[2022-11-09 13:42] mxcl commented on #144
Fix for that coming up. You can watch the build in @teaxyz/pantry.core/actions (not there yet). Once built you can update with `sh <(curl tea.xyz)`

Please close if fixed!

[2022-11-09 13:45] mxcl commented on #124
well `--no-rcs` and `--no-global-rcs` presumably should prevent the clobbering? But I'll be honest, I don't know all the intricacies of how shells load their configuration. It's surprisingly complex.

[2022-11-09 13:46] mxcl commented on #124
all we need is to set a PROMPT basically, so the user knows they are in a REPL rather than thinking it failed like @Keith did.

[2022-11-09 14:14] maxsz commented on #144
Indeed, I do! Working now, thanks!

[2022-11-09 14:14] #144 closed

[2022-11-09 14:15] kunalgoyal9 commented on #85
@jhheider right now we are using `If-Modified-since` from header to check for cache... Now should we include `etag` as well.. right?

[2022-11-09 16:06] mxcl opened #145 "inside venv, `tea --help` lists available targets"

[2022-11-09 16:21] jhheider commented on #85
I wonder if GitHub honors if-modified. Those should be redundant.

[2022-11-09 16:27] Xercesblu3 commented on #86
Safe to close then? I assume making IPFS more robust can go on a separate ticket?

[2022-11-09 16:28] Xercesblu3 commented on #85
Thank you for helping explain @jhheider

[2022-11-09 18:41] mxcl commented on #85
GitHub does not provide modified-since for source tarballs for some reason. Hence this request. We already do `If-Modified` in useDownload

[2022-11-09 20:38] drpdishant opened #146 "invalid peer certificate: UnknownIssuer"
Just installed tea and facing this error while I try to install any package

[code]
seems like its not able to validate server certificate against a root certificate from the trust store.
How can I disable ssl check?

[2022-11-09 21:02] mxcl commented on #146
wow. @jhheider ideas?

[2022-11-09 21:03] mxcl commented on #146
so, deno controls this, LMK check their GitHub.

[2022-11-09 21:06] mxcl commented on #146
* https://github.com/denoland/deno/issues/11482

[2022-11-09 21:47] jhheider commented on #146
This is interesting. @drpdishant , what OS/platform/distro are you running this under? Interestingly, if I load `debian:buster-slim` in Docker, and `apt remove ca-certificates`, I break `curl`, but not `tea`. Which makes me think, somewhere in the Deno guts, it's falling back to some well-known paths looking for ca certs, and possibly finding out of date ones.

That said, it doesn't really explain

[2022-11-09 22:28] mxcl commented on #146
@jhheider which is mysterious right? How can certs on macOS be broken.

[2022-11-09 22:30] jhheider commented on #146
Oh, yeah. Deeply mysterious. Unless it's extremely out of date. I know the CAs do have big changes periodically. I _feel_ like AWS had one in the last 12 months, maybe.

[2022-11-10 04:14] drpdishant commented on #146
@mxcl @jhheider dist.tea.xyz is accessible in browser but it serves with a different certificate than the actual, probably because all the connection from my machine go through a corporate proxy. I do face this issue when running npm install, and it works after setting env NODE_TLS_REJECT_UNAUTHORIZED to 0.

<img width="403" alt="image" src="https://user-images.githubusercontent.com/27772366/20099

[2022-11-10 04:24] jhheider commented on #146
Ahhhhh, yes, a proxy performing the SSL check on your behalf and serving using its certificate would definitely cause that. Hm. Will have to see what options Deno offers for accepting insecure connections.

[2022-11-10 04:31] drpdishant commented on #146
@jhheider If this helps, https://github.com/denoland/deno/pull/11324

[2022-11-10 04:41] drpdishant commented on #146
@jhheider I am able to figure out a workaround using env DENO_CERTS, downloaded the ca cert and provided in the env value. it works.
[code]

[2022-11-10 04:47] jhheider commented on #146
Certainly one workaround. We'll noodle something more user friendly. You won't be the last one behind a corporate proxy.

[2022-11-10 13:16] #130 closed

[2022-11-10 19:21] mxcl commented on #120
well we're trying to demonstrate `.go` files. But this will be a nice exe/md example once we process more than a single “target”

[2022-11-10 23:38] jhheider commented on #112
<img width="972" alt="Screenshot 2022-11-10 at 18 37 29" src="https://user-images.githubusercontent.com/13246308/201228424-aaa6c614-f6bd-46ce-92cc-e1696d56d42d.png">

@Xercesblu3 I think that's what we can do for now. If we want to alter language in the future, that's simple enough (it's a lambda)

[2022-11-11 00:04] mxcl commented on #112
This is good. Job done!

[2022-11-12 00:38] jhheider commented on #109
My brain thinks this is the same as:

`find $(tea --prefix)/tea.xyz/var/pantry/projects -name package.yml -type f -exec surname {} \;`

[2022-11-13 18:45] mxcl commented on #109
Provided it operates in a subshell the `cd` is safe. I prefer doing *less* and relying on `sed` with its platform specific quirks seems riskier.

[2022-11-13 23:18] jhheider commented on #109
Yeah, agreed. The _final form_ might be profitably added to the client as `tea --completions`.

[2022-11-14 09:49] miles170 commented on #145
I would like to work on this. Would you mind giving more context?

[2022-11-14 16:51] jhheider commented on #145
@miles170 if I might employ a little psi::ESP, I believe this means:

"If `tea --help` is run in a directory with a README.md file, parse the README are look for possibly build targets, as usable by [useExecutableMarkdown](https://github.com/teaxyz/cli/blob/main/src/hooks/useExecutableMarkdown.ts). If found, add this information to a new section in the `--help` output, indicating that those are ru

[2022-11-14 19:37] mxcl commented on #145
yep @jhheider has it.

You can `useVirtualEnv` to see if there is a virtual-env, and if so after tea’s help list the available targets. We define targets as:

[code]

`useExecutableMarkdown.ts` is where the code should go

[2022-11-15 03:17] miles170 commented on #145
How can I consider a markdown header a valid target?
If I use `teaxyz/cli README.md` as a sample, it will treat `treattea/cli 0.13.0` as a target, but the code block is not a valid `sh` code.

[2022-11-15 13:32] kohlerm opened #152 "Arch Linux , symbol lookup error when trying to use python"
When trying to use python on Arch Linux I get the error
 symbol lookup error: /home/kohlerm/.tea/gnu.org/readline/v8.1.0/lib/libreadline.so.8: undefined symbol: PC
I am using a README with the following dependencies
 # Dependencies

|   Project   | Version |
|-------------|---------|
| python.org  | ^3.11  |
| nodejs.org    | 16    |
| tea.xyz     | ^0    |

Tried the same on Ubuntu 20.04 and ther

[2022-11-15 16:59] magnusviri opened #153 "Specify custom or local distribution"
I'm working on creating a package (isc.org/dhcp). I would like to create a REPL with the dependencies that my package requires so that I can debug the build commands. I don't know if there is a way to do this already, but I kind of instinctively thought the following might work, but it didn't (the error is shown).

[code]

Is there a way I can open a REPL with the dependencies that my local packag

[2022-11-15 18:07] magnusviri commented on #153
Ok, I figured out that pantry/src/build.sh contains all of the path stuff. That's probably good enough for now.

[2022-11-15 20:15] magnusviri opened #154 "Creating environments for python packages?"
Can I `tea +pip.pypa.io pip install Y` to a different environment than `tea +pip.pypa.io pip install X`? It looks like right now they're all installed in ~/.tea/python.org/v3.11.0/lib/python3.11/site-packages. It would be great if I can separate them.

[2022-11-15 21:49] magnusviri commented on #154
I ran this: `tea +pip.pypa.io pip install pipenv`. Then I ran `tea +pip.pypa.io pipenv shell` in a project I'm working on. `pipenv shell` is suppose to activate a virtual environment but it isn't using the virtual environment. When I ran my project I got this error, showing that it's using Tea's python and site-packages directory instead of the virtual environment's. This error was fixed in the ot

[2022-11-16 02:46] jhheider commented on #154
I believe you can change install location with either a command line flag (to pip) or an environment variable it responds to. Possibly PYTHONPATH or --target (from memory and a quick Google).

[2022-11-16 17:57] magnusviri opened #156 "Explicit package versions don't constrain existing installs"
How do we specify a specific version of a package? I can't find this documented anywhere. I tried a few things and I think the character is "~" because when I use that it at least generates an error (my other guess, "@", doesn't generate an error).

[code]

However, it doesn't work either.

[code]

[2022-11-16 18:26] magnusviri commented on #154
I think you guys are doing something like this with pip. This `tea +python.org pip` installs python.org *and* pip.pypa.io.

[2022-11-16 20:35] jhheider commented on #154
We definitely are targeting seamless management of language environments. We do have the package managers for the various languages we have available, and they depend on their languages, so `tea +pip.pypa.io pip install foo` or `tea -X pip install foo` or `tea +pip.pypa.io` for a REPL should all work today.

Python venvs are an interesting edge-case, that most languages (I've looked at) don't seem

[2022-11-16 20:41] jhheider commented on #156
For a specific minor, you have a few options in semver: (~|^)3.10.0 should work, (=|@)3.10.8 (just checked; that's the 3.10 version we have built at present) should work, and '>=3.10.0 <3.11.0' should work.

I believe the issue you hit is that ~3.10 means '>=3.10.0 <4', while ~3.10.0 means '>=3.10.0 <3.11.0'.

[2022-11-16 20:46] amclin opened #157 "permissions on tea-installed executables trigger corporate security monitoring"
The use of `xattr com.apple.quarantine` to set permissions on tea-installed executables sets off reports with my company's global security operations center.

https://github.com/teaxyz/cli/blob/main/src/prefab/install.ts#L100

I ran the example command:
```tea +gnu.org/wget wget -qO- tea.xyz/white-paper```

And promptly got a warning from my global security team about permissions escalation:
[code

[2022-11-16 21:30] jhheider commented on #152
@kohlerm [this](https://stackoverflow.com/a/65623630) suggests that libtinfow.so might be needed for this symbol. [this](https://github.com/theos/theos/issues/357) suggests that installing `ncurses5-compat-libs` or `ln -s libtinfo.so.6 /usr/libtinfow.so.6` might also do it. If you have `nm` on your system, I'd love to see the output of `nm -D /home/kohlerm/.tea/gnu.org/readline/v8.1.0/lib/libreadl

[2022-11-16 21:31] jhheider commented on #152
It seems like most everyone has moved to using the `w`(ide) variant of ncurses across the board, but pretending it's not when necessary. It took me a minute to work all that out, so I'm sure there's probably some untested edge cases, like Arch, that aren't playing nicely today.

[2022-11-16 21:34] jhheider commented on #153
Just to answer your question: you probably want your REPL to contain your dependencies, if you're working directly on the package, e.g.: `tea +invisible-island.net/ncurses +sourceware.org/bzip2 +tea.xyz/gx/cc +gnu.org/make`.

[2022-11-16 23:05] jhheider commented on #157
This should (hopefully) be resolved by https://github.com/teaxyz/pantry.core/issues/21. I will check back with you once that's implemented, @amclin .

[2022-11-16 23:11] magnusviri opened #158 "Install only mode?"
I was hoping I could use tea to install software without starting a REPL or running a command. Right now, to avoid running the REPL I need to do this:

[code]

It would be nice if I could bulk install software, like what brew bundle does.

One example use case that I've already bumped into is creating Docker containers (I saw the PSA, it will take me awhile to change my workflow completely). This

[2022-11-16 23:13] magnusviri commented on #153
Yeah, that was what I meant. I didn't know I could specify multiple +pkg's. This, in combination with the build script is good enough. I'll close this issue.

[2022-11-16 23:13] #153 closed

[2022-11-16 23:16] jhheider commented on #158
Definitely a worthy path for investigation. In its current form, `tea` will provide the same functionality, regardless of prior install status. So, the intent is that you can run `tea [+pkg...] command` and it will install _if needed_ or just link in otherwise the listed packages and run the command.

There will be a definite need to preinstall packages for e.g. airgapped systems, or if people wan

[2022-11-16 23:21] magnusviri commented on #156
I think I'm missing something because no matter what I do, it runs python 3.11.

[code]

[2022-11-16 23:25] jhheider commented on #156
Confirmed, and definitely not as intended.

[2022-11-17 00:06] magnusviri commented on #154
Ok. I think I've figured this out.

If I install something with `tea +python.org pip install X`, it will go in ~/.tea/python.org/v3.11.0/bin and its dependencies go in ~/.tea/python.org/v3.11.0/lib/python3.11/site-packages. I don't think there's anything you guys can really do about this (and I'm not sure you'd want to). The same goes for anything installed with pipenv (pipenv makes python virtual

[2022-11-17 00:19] jhheider commented on #154
Right, because pipenv hardcodes paths, I had to fudge some stuff to make it relocatable, including updating the virtualenv on the fly at invocation time. It is _likely_ that this counters the intention of python's virtual environment in favor of our own.

My understanding from working with pip is that the packages installed are closely tied to the python version that installed them, so, it seemed

[2022-11-17 00:23] magnusviri opened #159 "Kernel panic when installing."
I've had my second kernel panic while installing something with Tea. I can't imagine why Tea would do this. But it's happened twice now so I'm going to create this issue. Here's the text from Discord for the first panic (on November 4th).

My M1 panicked while I was installing go. The process that crashed was kernel_task. Here are the parts from the panic log that might be remotely interesting.

[

[2022-11-17 00:35] magnusviri commented on #159
I don't know if this will help, but here's the process data from the panic log for Nov 4th.

[code]

And here's today's.

[code]

[2022-11-17 00:35] jhheider commented on #159
That is deeply weird. It... seems unlikely that `tar` is the culprit, as many of us have been running and developing `tea` on a variety of m1/m2 hardware for more than half a year.

Going momentarily down the rabbit hole for a second, I assume your `tar` looks something like this:

[code]

I suppose it's possible that `tar` is reaching for `tea`'s version of `zlib`. What does: `tea +python.org oto

[2022-11-17 00:36] jhheider commented on #159
@mxcl any of this tweak your spidey sense?

[2022-11-17 00:39] magnusviri commented on #159
[code]

I mount smb volumes all the time, which probably explains that kext. I think the msdos driver is because I probably put in a Windows USB stick, but I can't remember when I did that. It would've been last week probably.

[2022-11-17 00:45] jhheider commented on #159
I can't possibly fault either of those things, as they're completely normal operations that shouldn't cause issues. I suppose if the mount for either had disappeared and `tea` tried to read from it, that could, but never should, cause something to hang.

Hopefully, those are just red herrings; but it's a weird coincidence that both panics reference Apple drivers for Microsoft(-related) filesystems

[2022-11-17 01:21] magnusviri commented on #154
Hahahaha, I only just started to figure out python's environment stuff, and only because I was briefly involved with stable diffusion and was trying to make it easy to install on macOS. My usual way of dealing with python problems is finding every version of it and rm -r'ing them and starting over. In fact, I kind of still employ this technique. I can try to rope in some python devs who know way m

[2022-11-17 01:32] magnusviri commented on #124
I don't know if I will use this, but if I did, I've put a lot of work into customizing my prompt, and I'd like to keep it in the REPL. Python virtual environments modify the prompt by putting the name of the virtual environment in parenthesis before the normal prompt, something like this.

[code]

Can tea do something like that? Maybe `export PS1="(tea) $PS1"`

[2022-11-17 01:36] magnusviri commented on #138
I'm not sure if executable markdown works yet. If it's supposed to, I get this error.

[code]

[2022-11-17 05:39] magnusviri commented on #138
I have been trying to build a package and I noticed this output. The TEA_PREFIX is certainly set ("/opt/tea"), but the PATH isn't getting the correct prefix ("/opt/tea.xyz").

[code]

[2022-11-17 06:00] magnusviri commented on #159
I'm pretty sure I was connected to a VPN when both kernel panics happened. I just connected again and installed something and it didn't panic. I'll try to be really watchful. If I can't get to the bottom of this I may just re-install my OS.

[2022-11-17 07:09] magnusviri commented on #138
I just figured out why the paths are the way they are. I submitted [another issue about it](https://github.com/teaxyz/pantry.core/issues/36). I think it's unrelated to this issue.

[2022-11-17 10:16] kohlerm commented on #152
hmm
`nm -D /home/kohlerm/.tea/gnu.org/readline/v8.1.0/lib/libreadline.so.8 | grep PC
                 U PC`
Not much information ...

[2022-11-17 11:54] Wyatt-Stanke opened #161 "What if something doesn't have a website?"
Hello! I am just wondering what would happen if a package does not have a website. Does it go under github.com?

[2022-11-17 13:48] mxcl commented on #161
Yeah you can see we’ve had to do a few like this:

https://github.com/teaxyz/pantry.core/tree/main/projects/github.com

We expect there will need to be an aliasing system at some point.

[2022-11-17 13:48] #161 closed

[2022-11-17 13:53] mxcl commented on #159
wow. We’re really not doing anything fancy so this is super unexpected.

1. Firstly, a kernel panic is Apple’s bug.
2. However, secondly, obv we cannot just say “wait for Apple to fix it” so if we can figure out what we are doing to cause this we will work around it.
3. Possibly it's a coincidence, did you get unexpected panics before you started using tea?

tea itself only writes to `~/.tea`, it

[2022-11-17 13:56] mxcl commented on #158
Yep, makes sense. We will get this, though as yet not sure of the shape.

The upcoming `tea/cmd` will help since people will be able to write commands to do just about anything that are then pluggable into tea. One such command will be `install` no doubt. Another could emulate `brew bundle`

There ofc, is @jhheider’s snippet to inject into the “command not found handler” and make `$ foo` run `tea

[2022-11-17 14:02] mxcl commented on #156
lol what a farce, sorry, fixing.

fyi:

[code]

per the semver.org spec are what we support.

[2022-11-17 14:19] mxcl commented on #156
k good news: this is because python depends on python and is not generally a bug:

[code]

[2022-11-17 14:27] mxcl commented on #123
@Keith worth a fresh try (been some work in this area I think may fix it), update first `sh <(curl tea.xyz)`.

to be clear: the “repl” does open. The issue here is UI: your prompt doesn’t get set to `tea $`

[2022-11-17 14:28] mxcl commented on #97
Closing in favor of `tea/gui`

[2022-11-17 14:28] #97 closed

[2022-11-17 14:28] mxcl commented on #97
A candidate for the “most misleading ticket title” ever IMO.

[2022-11-17 14:34] mxcl opened #162 "`tea test foo` should only run `foo` tests"
deno has a `--filter` parameter for this, but it sucks a bit.

either way exe/md doesn't really support this properly yet.

[2022-11-17 14:36] mxcl commented on #156
bug is in `semver.intersect`, notably we had to write this function ourselves since neither Deno of Node’s semver provide it.

Was the main justification for doing our own semver lib (among other reasons)

[2022-11-17 14:41] Xercesblu3 commented on #97
@mxcl what title would have been better? Want to try and improve there

[2022-11-17 14:55] #156 closed

[2022-11-17 15:06] mxcl commented on #97
On Copy what? This is the repo for tea/cli, the fact it was for copying for the website requires a leap of faith and judgement to conclude without reading the body text.

Open Terminal to do what? Typically if you open a terminal you just get a prompt. This is not what was asked in the body text.

And as we discussed, we didn't want it for copy so at that point the title needed to be changed.

[2022-11-17 15:09] mxcl commented on #152
How is our build env finding this symbol? I'll take a look. Should be easy enough to fix.

Basically we only want to have a very small list of libs that we expect distros to provide. Eventually we would like this to be zero.

[2022-11-17 16:57] #112 closed

[2022-11-17 16:58] jhheider commented on #157
At the time, I was under the impression that the self-signed binaries were triggering gatekeeper. So... properly signed ones hopefully won't need this? Maybe?

[2022-11-17 17:24] mxcl opened #166 "`tea +gnu.org/wget/` should work"
Try it, it fails.

[2022-11-17 23:22] jhheider commented on #157
Thinking about this slightly deeper, the files are technically created by `tar`, which we certainly call out of the host OS[citation needed?]. So, perhaps that is setting/not setting something we'd rather it do? I wonder if using `gnu.org/tar` in place of the default tar is better.

[2022-11-18 01:13] magnusviri opened #167 "Feature request: parse argv[0] and do the same with it as -X arg"
I'd like to `ln -s tea wget` and have tea notice that argv[0] is "wget" and not "tea" and use argv[0] as the parameter of -X.

I'd also like to be able to version this so that I can have a 3.10 and a 3.11 python symlink. I've been trying to think of how to easily do this and here's what I came up with. Create something like "$TEA_PREFIX/python.org/v3.11.0/bin/tea-helper" and then I can link to tha

[2022-11-18 01:24] magnusviri commented on #167
I am willing to work on this feature request if you're patient with me.

[2022-11-18 01:39] magnusviri commented on #157
This comment doesn't help what you guys are working on much, but I thought you might want to know (and maybe I've already mentioned this on Discord?). I have [RandomWhere](https://objective-see.org/products/ransomwhere.html) installed and running and it regularly notifies me that tea is locking files whenever I install something. In fact, I wonder if this might have something to do with my kernel

[2022-11-18 01:53] magnusviri opened #168 "Should `tea name` be willing to run /usr/bin/name?"
I have some arbitrary command named /usr/local/bin/twhich installed. Should this work?

[code]

If it's supposed to work, I'm not sure why. I guess the point of tea is to set up an environment and run any command.  But I've bumped into some trouble with this because I was trying to switch from a brew installed tool to a tea installed tool and I couldn't tell which was running. In fact, it was runn

[2022-11-18 01:53] magnusviri opened #169 "v* not working?"
What is the purpose of v*? I assumed tea would use it to choose which version to run, but it looks like it isn't doing that. Maybe this is a bug?

[code]

[2022-11-18 02:00] jhheider commented on #168
It *is* working as intended. Consider adding libraries but using a system compiler. `tea +zlib.net gcc main.c` should work. tea package paths should be earlier in the path than anything else, which should be confirmable with `tea +python.org which -a python`.

[2022-11-18 02:01] jhheider commented on #169
v* should work like semver *, which is any version. It should be linked to the highest installed version, much as v0 is the highest 0.x.y version, etc.

[2022-11-18 02:03] jhheider commented on #169
From your state, it looks like it links the last installed satisfying version. That's less intuitive to me, but perhaps as @mxcl intends.

[2022-11-18 02:53] jhheider commented on #167
This mirrors `npm`'s idea of a -g|--global install, and would be a useful feature to an `install` command.

[2022-11-18 03:28] magnusviri commented on #169
I assumed the symlinks would activate or deactivate a version, kind of like how it works in the filesystem elsewhere, but in retrospect, it won't work without calling it with tea anyway. So I'm not sure what its purpose really is since tea's logic is controlled by the semvar file.

[2022-11-18 03:30] magnusviri commented on #168
Ok, I have to remember to do `tea which ...`. I think maybe you told me to do this already. I need to write it down.

[2022-11-18 03:32] jhheider commented on #169
One example is when re-writing library paths in compiled software, our compilation code "simplifies" the version path for RPATH lookup to e.g. $TEA_PREFIX/zlib.net/v1/lib/libz.so so any installed v1 zlib is locabale, if allowed by the package description. I agree that the consumers of the packages aren't likely to need the symlinks, unless they're creating outside dependencies on tea installations

[2022-11-18 04:43] magnusviri opened #170 "Not all packages have "provides""
[code]

Sure enough, curl is missing "[provides](https://github.com/teaxyz/pantry.core/blob/main/projects/curl.se/package.yml)"

[2022-11-18 04:44] magnusviri commented on #170
Maybe I should have put this issue in one of the pantry repos.

[2022-11-18 04:52] jhheider commented on #170
Yeah, I'm sure there's a few where it's missing. But `tea -X which ...` is looking for which. If you want `curl`, that `tea -X curl`, which does work, absent the provides, so we've clearly done something clever there.

[2022-11-18 05:00] magnusviri commented on #170
I don't think it is working. I just removed tea's curl and wget.

[code]

tea installed wget because there is no other wget. However, it ran /usr/bin/curl. You can verify this if you create a stub /usr/local/bin/curl that just prints a message. tea will run that instead of installing.

[2022-11-18 05:05] magnusviri commented on #167
Yeah, I always use the global install options. I guess that's why I'm so focused on this.

[2022-11-18 05:05] jhheider commented on #170
Oh, right. Of course:
[code]
It's not finding `curl` (because no provides) so it's passing through to the system curl. Which... seems like it could at least be a warning.

[2022-11-18 05:06] magnusviri commented on #168
Ok, I the reason why I've cared about this is actually what is going on in https://github.com/teaxyz/cli/issues/170.

[2022-11-18 17:59] magnusviri commented on #170
One solution is to add `-Y` that will only run tea installed binaries... Then all we're missing is the `-Z`... LOL

[2022-11-18 18:00] magnusviri commented on #168
Closing this because #170 is really the problem.

[2022-11-18 19:01] jhheider opened #171 "semver providing unreasonable ranges"
https://github.com/teaxyz/pantry.core/actions/runs/3499494977/jobs/5861124248:

[code]

[2022-11-18 20:37] mxcl commented on #171
lol

[2022-11-18 20:37] mxcl commented on #171
this is what happens when you let copilot write ur code

[2022-11-18 22:13] #85 closed

[2022-11-19 06:09] magnusviri commented on #158
I hear this will be a community-added feature. I'll close this then.

[2022-11-19 06:09] #158 closed

[2022-11-19 06:10] magnusviri commented on #156
I think this is fixed so I'll close this.

[2022-11-20 16:31] DrReD opened #178 "Segmentation fault during install"
I tried to install on Fedora Linux 36 and this is what happens:
[code]

[core.sh.1000.2eb108b9349c4a9ca1df1d106c8dfe13.1572353.1668961576000000.tar.gz](https://github.com/teaxyz/cli/files/10050179/core.sh.1000.2eb108b9349c4a9ca1df1d106c8dfe13.1572353.1668961576000000.tar.gz)

[2022-11-20 17:14] rvalue opened #179 "Naming conflict with gitea's tea cli"
https://code.gitea.io/tea/

[2022-11-20 17:48] Grynn commented on #178
Segfault on install macOS Ventura too...

[2022-11-20 17:54] mxcl commented on #179
oh, unfortunate. I did search for conflicts before choosing this and didn’t find it.

Sadly it's a single namespace UNIX world and these things do happen. I guess we could offer to install as teaxyz instead if we find `tea` in the `PATH` already. Fortunately our tool doesn’t care what it is named.

[2022-11-20 17:56] mxcl commented on #178
I imagine the is `gum` segfaulting. Try:

[code]

[2022-11-20 17:58] mxcl commented on #178
I really gotta make that `brew` formula…

[2022-11-20 18:31] mxcl commented on #171
I managed to repro *once* then when I tried again it wouldn't happen anymore :/

[2022-11-20 18:32] mxcl commented on #169
No it should link the biggest version. If not it's a bug.

`v*` is mostly so you can as a user symlink to the newest version.

[2022-11-20 18:36] mxcl commented on #167
oh interesting. I already coded it so `tea_foo` runs `foo` (recent addition), but yeah, we *could* do what you suggest. This is a very neat idea. Also the version idea is splendid.

Yeah, let’s do it. Let us know if you need help! Here or discord.

And yes as @jhheider says, tea/cmd will make it possible to do global installs. But quite possibly this is a way better way to do that.

[2022-11-20 18:40] mxcl commented on #157
we use Deno’s `flock` to lock files during install to prevent a “double-install” problem (since we encourage you to run multiple `tea`s simultaneously this is pretty likely to happen at some point due to the size of the OSS dependency graph).

However, we could probably use some other system (we just want an atomic locking mechanism) which doesn't trigger such security warnings.

[2022-11-20 18:41] Grynn commented on #178
It does seem related to gum - some kind of infinite loop -

[code]

![t-rec](https://user-images.githubusercontent.com/212880/202919933-95a78069-034b-41d9-9f03-e0a95979198f.gif)

[2022-11-20 18:43] mxcl commented on #145
fair point. Originally when devising this system I figured we should have a magic comment of some kind to indicate that a given code block is exe/md, and this indeed confirms that.

Now to field ideas…

[2022-11-20 18:44] mxcl commented on #143
This has been merged, #160.

[2022-11-20 18:44] #143 closed

[2022-11-20 18:52] mxcl commented on #178
WOW! k, I'll try to figure this out.

[2022-11-20 18:55] mxcl opened #180 "Read the shebang, like perl does"
@jonchang suggested we read the shebang and auto-install the interpreter, this is a very good idea.

[2022-11-20 19:01] mxcl opened #181 "make `did you mean` savvy to `provides:`"
We have a lot of `provides:` keys and if our `did you mean?` logic was savvy to that I imagine it would help people.

[2022-11-20 19:55] The-SamminAter opened #182 "Future support: (jailbroken) iOS?"
Currently, the only common package managers available for iOS's CLI are apt and pip. While pip is great for cross-platform stuff (as python on one platform will work similarly to python on another), apt isn't. Furthermore, pip is Python-specific/centered. Therefore, I propose adding support/compiling a binary for iOS in the future. The platform isn't too different than arm64-macOS, and tea on iOS

[2022-11-20 20:30] timothytlewis commented on #182
iOS is 100% on the roadmap.

[2022-11-20 21:14] mxcl commented on #182
yep, totally going to happen. Totally faster if we can get some help or tips here. I'm not very familiar with the current jailbreak scene, where do we start?

[2022-11-20 22:19] The-SamminAter commented on #182
Honestly, there's not really any all-encompassing resource or page about it, but this isn't terrible: https://www.reddit.com/r/jailbreak_/wiki/index/. There's also this: https://www.theiphonewiki.com/wiki/Jailbreak.

Furthermore, the Wikipedia entry on jailbreaking isn't bad for an overview, but it doesn't mention palera1n or fugu15, the only public iOS 15 jailbreaks out there currently (it should

[2022-11-20 22:46] redreceipt opened #183 "Doesn't work for me"
When I try to install tea and then run the rust interpreter, it fails:

[code]

[2022-11-20 22:53] mxcl commented on #183
So I don’t get this exactly, but it seems like: try again… might work?

@jhheider

[2022-11-20 23:56] redreceipt commented on #183
maybe this will give you a little more info? `www` isn't there:

[code]

[2022-11-21 02:41] AkiraHasegawa1997 commented on #183
Hi, I met same problem on MacBook Pro M1. I'll paste the verbose log below.
[code]

[2022-11-21 02:58] AkiraHasegawa1997 commented on #183
It seems to be solved by creating `www` directory before the execution as following:
[code]

[2022-11-21 05:53] solzard opened #184 "Plan to register as a homebrew formula?"
Does `tea` has a plan to register on homebrew formulae in the future? It would be nice to install it with `brew install`.

[2022-11-21 08:06] jascha030 commented on #178
@Grynn @mxcl I was facing this issue as well, In my case I resolved this issue by removing my install of gum (installed with go) from my path.

[2022-11-21 09:43] fabiotc commented on #183
Like @AkiraHasegawa1997 described here, once I manually created `~/.tea/tea.xyz/var/www`, everything works.

[2022-11-21 10:15] skabber commented on #183
I had the same problem. The same, manual create '$HOME/.tea/tea.xyz/www' fixed it for me.

'Linux steamdeck 5.13.0-valve31-1-neptune #1 SMP PREEMPT Tue, 08 Nov 2022 22:43:07 +0000 x86_64 GNU/Linux'

[2022-11-21 10:17] mxcl commented on #184
Yes, I should be submitting it shortly

[2022-11-21 10:27] Grynn commented on #178
Next issue 😔

[code]

[2022-11-21 11:28] mxcl commented on #183
yeah this was a regression, 0.13.6 coming up. Sorry :/ we haven't enough tests and I unwisely merged #85

[2022-11-21 11:52] mxcl commented on #183
k update pushed, should resolve this. Sorry for this embarrassing issue :(

`sh <(curl tea.xyz)` to update (or `tea --sync +tea.xyz`)

[2022-11-21 11:52] #183 closed

[2022-11-21 11:58] mxcl commented on #184
https://github.com/Homebrew/homebrew-core/pull/116323/files

[2022-11-21 14:09] rvalue commented on #179
great.

[2022-11-21 15:15] mxcl commented on #178
@Grynn update, just fixed that (`sh <(curl tea.xyz)`)

Sorry about these issues.

[2022-11-21 15:17] mxcl commented on #178
k! thanks for the tip about `brew`’d `gum`, I have repro’d and will fix. 🙏

[2022-11-21 16:47] tomlazar commented on #159
I'm getting the same issue as @magnusviri. If you need any info from me @mxcl would be willing to help debug.

Just general info I've got a MacBook with M1 Pro and Ventura Beta 3.

[2022-11-21 17:00] magnusviri commented on #159
@mxcl except for the 2 I've reported here, I haven't had a kernel panic in years. My stats are in the first message of this issue ("macOS 12.6 (21G115)", "MacBookAir10,1",).

[2022-11-21 17:13] tomlazar commented on #159
It looks like something with calling gum inside the script file. For example with the `welcome` function. When I call it outside of the script, it runs file, calling it inside causes the deg-fault

[2022-11-21 17:18] jonchang commented on #159
This may be unrelated, but I know that there have been issues with Apple's `bsdtar` + `libarchive` implementation having bad interactions with filesystems (including APFS). Homebrew solved this partially by calling `sudo purge` a bunch on macOS prior to `bsdtar` operations, and partially by using `gnu-tar` as much as possible.

[2022-11-21 17:23] tomlazar commented on #159
I installed the latest dev version of gum using `go install github.com/charmbracelet/gum@eb3c5c1` and removing the gum related steps in the install script, so it would just use the system install, and it fixed the issue.

[2022-11-21 17:28] jhheider commented on #159
Gum causing a kernel panic is as surprising to me as tea. It shouldn't be doing anything fancy with syscalls. Filesystems, at least, are kernel domain naturally, so triggering a filesystem bug doesn't seem crazy. But in Apple core code? This is unexpected all around.

[2022-11-21 23:25] bortels opened #189 "panic:cmd failed: 252: /bin/zsh -i --no-rcs --no-globalrcs"
It says I have to report the bug, so - ok, sure. Fair's fair.

[code]

And - it's reproducible, which is fun. Here's what I did (I have the "aws" command installed externally, probably from AWS's pkg installer:

[code]

If I don't run "aws" - it exits quietly.

[2022-11-22 04:26] magnusviri commented on #167
FYI: I noticed that [this line](https://github.com/teaxyz/cli/blob/34e15753aeb18045fc463140a69cf6abc8fea038/src/app.ts#L59) is checking to see if arg0 is "deno". If you are already linking deno to tea, then if I make this change then the behavior will change, and whatever you are doing will break.

[2022-11-22 05:11] AkiraHasegawa1997 commented on #189
Interestingly, the same thing is occurred by executing an invalid random command like the following:
[code]

I guess when commands are failed to run, the error will be reported.

[2022-11-22 05:39] bortels commented on #189
good observation.

And going in, running an error command ("lorem"), then a good command ("ls") clears it, so it looks like maybe the last command status is propagating back out? Maybe part of the pipelining?

[2022-11-22 06:00] AkiraHasegawa1997 commented on #189
I agree.

If running with verbose option and intentionally creating exit status, it's reflected to the status and code
[code]

[2022-11-22 06:46] jhheider commented on #189
Yeah, this seems confusing. Most likely the repl should swallow individual exit codes and only abend if tea has an issue.

[2022-11-22 11:14] miles170 commented on #145
Would it be a good idea to use code block language?

[code]

[2022-11-22 12:41] mxcl commented on #178
Fix deploying https://github.com/teaxyz/setup/actions/runs/3523456579

[2022-11-22 12:51] mxcl commented on #189
yeah what is the “generally considered correct behavior here”.

1. obv. we don’t show the error message
2. but should we propagate the error code out of the “repl”?

I'm thinking both, and will PR that but thoughts welcome.

[2022-11-22 13:17] mxcl commented on #189
k fix coming up in 0.13.9

[2022-11-22 13:17] #189 closed

[2022-11-22 14:32] mxcl commented on #167
So… arg0 is `deno` when we are running from source, which notably includes all the times are running tests.

[2022-11-22 14:49] magnusviri commented on #167
Ok, so the solution is to check arg0 and see if it's actually a symlink. After following the symlink, if it's another symlink with either a version in the path or name or something, that can enable that stuff. I'm not sure what the best thing is.

curl -> curl@version
curl@version -> /path/to/tea

or

curl@version -> curl
curl -> /path/to/tea

When I'm off work later today I'll start reading the D

[2022-11-22 15:22] mfts opened #194 "Problem with tea fetching package graph; no pantry error; `tea --sync` doesn't help"
I ran into this problem with packaging

Setup + fresh install of `tea`
[code]

Output:
[code]

`tea --sync` doesn't change the output

I'm on an Intel Mac

[2022-11-22 15:49] mxcl commented on #167
I think it’s as simple as:

* if `foo` is a symlink to `tea` then become `tea -X foo`
* if `foo` is a symlink to `tea_foo` then become `tea -X foo`
* if `foo` is not a symlink, ignore

[2022-11-22 15:50] mxcl commented on #167
Possibly we should drop `tea_foo` but I don’t see any harm, it's a very small test matrix addition with no UI/UX overhead.

[2022-11-22 15:58] mfts commented on #194
Again fresh install of `tea@0.13.11`; same error

[code]

[2022-11-22 16:01] mxcl commented on #194
worksforme

[2022-11-22 16:03] mxcl commented on #194
yeah this line of code no longer exists: `if (!dir.exists()) throw new TeaError('not-found: pantry', { path: prefix })`

so you aren't running the latest version somehow

[2022-11-22 16:07] mfts commented on #194
Yes PR #195 fixes the issue, updated my comment above to make it clear that I hadn't updated `tea/cli` to latest remote commit

[2022-11-22 16:07] #194 closed

[2022-11-22 16:14] mxcl commented on #194
edit: no turns out is was because our scripts use the sources in tea/cli and they hadn't been updated.

[2022-11-22 18:50] DrReD commented on #178
Even worse:
now "sh <(curl https://tea.xyz)" goes in a loop, fills my 20GB of Ram + 8GB of swap, until stuff eventually gets OOM killed by the kernel. (I purposefully disabled all other OOM handlers)

[2022-11-22 18:57] DrReD commented on #178
Also strange, running with VERBOSE=1 gives different outputs whether or not you redirect it to a file...

[2022-11-22 19:52] DrReD commented on #178
Even just redirecting <stderr> without "VERBOSE" gives strange errors:

[code]

[code]
And we still get output on the console even if we're piping everything through "head"?

[2022-11-22 20:05] DrReD commented on #178
`$ LANG=C VERBOSE=1 sh <(curl https://tea.xyz)` 2>&1

loops on:
`' 'esac;' '$GUM' '"$@"' '}' '()' '{' case '"$1"' in 'confirm)' if test -n '"$YES";' then 'return;' fi ';;' 'spin)' if test -n '"$VERBOSE";' then gum_no_tty '"$@";' 'return;' fi ';;' 'esac;' '$GUM' '"$@"' '}' '()' '{' case '"$1"' in 'confirm)' if test -n '"$YES";' then 'return;' fi ';;' 'spin)' if test -n '"$VERBOSE";' then gum_no_tty

[2022-11-22 20:17] jhheider commented on #178
[code]

Suggests that it's falling through to the default, which is simply calling the function again. So, a better question is _which call is malformed?_ I'll see what catches my eye.

[2022-11-22 20:20] jhheider commented on #178
It's possibly `gum ... -- spin`. I'll make a docker image and see what I can do.

[2022-11-22 20:40] jhheider commented on #178
Not able to reproduce with `docker run -it fedora:36`... trying a VM to see if I can trigger the non-tty path that's looping (are you running under SSH?).

[2022-11-22 20:47] jhheider commented on #178
This is suggestive:
[code]

[2022-11-22 21:01] DrReD commented on #178
I'm using a local terminal and bash as a a shell. But I have a default ED25519 ssh key in ~/.shh:
```ssh-ed25519 [...]w7o8Sw8y4NAdMo2D```

Picking that up within the install scripts may cause some authentication failures...

[2022-11-22 21:07] DrReD commented on #178
Uhmpf, I was hopeful, but I got the same results trying from a different user with no ~/.ssh.

[2022-11-22 21:24] jhheider commented on #178
@DrReD can you confirm that this fixes it?
[code]

I think `which gum` was picking up the internal `gum()` function in the script on Fedora, which was causing the loop.

[2022-11-22 23:43] DrReD commented on #178
Yes it fixes it both in Fedora 36 and Fedora 37.

[2022-11-23 05:37] jhheider commented on #171
https://github.com/teaxyz/pantry.core/actions/runs/3499494977/jobs/5916979362#step:7:1

[2022-11-23 07:56] jhheider commented on #145
Keeping the block spec will enable tools to keep syntax highlighting. Maybe a regex that matches `^\`\`\`.\*\n(#|//)\s\*tea$`?

[2022-11-23 08:00] miles170 commented on #145
Something like

[code]

[2022-11-23 08:36] jhheider commented on #145
Yeah, I might go that way. It's a little less magic, but more reliable.

[2022-11-23 16:43] magnusviri commented on #167
I don't see why we should drop tea_foo. Seems like a good idea to me.

[2022-11-23 16:47] magnusviri commented on #170
I've been thinking about this a lot because I've had more trouble with -X running binaries than anything. It's been very hard trying to figure out if it's running something from /usr/bin, /usr/local/bin, or if it is running something that it installed. Part of the problem is my setup, which is kind of hacked so I can do dev and use it at the same time. But I'm not sure why anyone would want to use

[2022-11-23 20:16] alexpdp7 opened #196 "Consider using WASM?"
This is likely out of the scope of the project (but maybe it could be added to the FAQ *why* this project will not do this), but I think it would be interesting to provide a WASM runtime and software targetting that runtime.

This would of course reduce performance, but would probably result in very interesting portability (across OSes and even CPUs).

[2022-11-23 20:17] jhheider commented on #196
Definitely an option we're considering for future expansion. Totally open if some someone wants to spearhead it.

[2022-11-23 20:21] alexpdp7 opened #197 "Document how relocatability is achieved"
I'm not familiar with the structure of the project, so I went poking for the trick, but I couldn't find it. I assume you do some kind of chroot/proot depending on which platform you are on?

It would be interesting to be upfront about how this is done, because the specific tricks might not be available in some environments (e.g. I do a lot of dev work inside an LXC container, so there are many stu

[2022-11-23 20:34] jhheider commented on #197
All of which is to say, if you find binary relocatablity deeply interesting, then I'm sorry. I'll buy you a beer sometime and we can have a good cry. ;)

[2022-11-24 09:08] alexpdp7 commented on #197
Well, not really (I *know* it's an interesting problem, but I don't plan to work on that anytime soon). I just think it would be useful to document this somewhere.

(Or do #196 , which might eliminate the problem altogether :)

[2022-11-24 09:12] jhheider commented on #197
Well, unless I'm missing something, #196 addresses platform support, not necessarily the ability to relocate a compiled binary. If you mean making binaries for different platforms, that's done natively using GitHub actions, and hosted builders.

Unless wasm targets don't support dynamic linking at all, there should still be relocatablity requirements, to allow for TEA_PREFIX support, right?

[2022-11-24 09:19] alexpdp7 commented on #197
I thought WASM runtimes didn't have relocability requirements, although this is far from being an area of expertise for me. My (made up) understanding is that relocability in Linux binaries, for instance, is an "implementation detail" which might have performance or security benefits, but I always assumed that if you design a new system from scratch, you could add some mechanism to achieve relocab

[2022-11-24 09:21] alexpdp7 commented on #197
(My idea in this area was that if someone could bootstrap a Linux distro on WASM, you could package a small runtime and a tarball of that distro, and achieve portable UNIX-like environments that you can keep somewhere in your home... Something like Docker containers achieves, but that can run in non-Linux systems and is CPU-independent.)

[2022-11-24 09:23] jhheider commented on #197
I also don't know enough about wasm in this regard. If it doesn't use shared libraries, or doesn't hardcore library paths in binaries, then perhaps you're right.

Certainly when delivering a wasm binary over an https connection to a browser, you should be nearly completely isolated from the client system.

[2022-11-24 12:23] mxcl commented on #197
We are relocatable in the “packaging sense” which means the files can be moved. We are portable for the same platform, eg. any Linux, any Darwin, but our binaries are not *portable* across platforms.

[2022-11-24 12:29] mxcl commented on #197
So yeah as Jacob says, some of our tricks are general (rpath alterations during and post build) and some are package specific (see each `package.yml` for details), so documenting it is a long term project for the packaging wiki.

[2022-11-24 12:30] mxcl commented on #196
I'd love to do this, and longer term we will have the resources to explore it. The problem is certainly at least somewhat related to the base parts of the stack not having flexible build systems that can support it so it would be a large amount of man power and time.

WASM at higher levels should be easy enough though, eg. rustc output.

[2022-11-24 13:14] diddledani opened #198 "Inclusivity: replace "--muggle" with "--no-magic""
While reading the README.md file I was getting interested in the project and its functionality. However, I was unprepared to see a term associated with Harry Potter used as a command line switch. While I, myself, am able to cope with seeing this term, many trans people will be upset and hurt by the use of this term (see the background in the next paragraph). To ensure that the project is inclusive

[2022-11-24 14:15] #198 closed

[2022-11-24 14:16] mxcl commented on #198
Thanks for pointing this out—I'm ashamed to say I got so caught up in “being clever” I hadn’t thought through what else it may mean.

[2022-11-24 14:17] mxcl commented on #198
v0.14.1 is being deployed.

[2022-11-24 15:57] magnusviri opened #199 "Infinite loop with symlink to tea in the cwd"
tea 0.14.1

[code]

Every second or so it will launch another instance of tea. It looks like this:

[code]

It will keep doing this until canceled. It's happening because tea is finding the symlink in the cwd and running that rather than the real version of gum. I'm assuming this is happening because the cwd is listed earlier in the PATH than gum's location.

When working with the shell, I've neve

[2022-11-25 20:36] magnusviri commented on #167
I've been trying to think of how to do the symlink versioning and this is what I've come up with. If a file is a symlink, then read the link to see what it links to. If it links to the same name followed by a version string, then it can add that version string to the pkg dictionary. This is what the symlinks would look like. They don't have to be in the same directory.

python -> python=3.10
pytho

[2022-11-25 20:39] magnusviri commented on #169
I know why this doesn't make sense to me. I can't think why an end user would link to anything in that directory. End users can't run the stuff in there without using tea because they need tea to set up the venv. The only thing I can think of is that they'd link to man pages or something like that. And that's a whole different discussion I think...

Actually I am linking to one thing, `tea.xyz/v*/

[2022-11-25 20:45] jhheider commented on #167
The way to make a smallest change set is encapsulation. So, as you suggested, collecting all the parsing in one place makes it easiest to review, and will result in the most consistency throughout the code base. Whether that's in a util, a hook, or somewhere else, it should be easy to relocate if it seems natural somewhere else, so I wouldn't worry about that quite as much. Just from a first think

[2022-11-25 22:12] jakehl opened #201 "Allow a dedicated dependency file for magic (not package.json or readme)"
First off, I'd like to say that I love the concept of this project and I really like the idea of a readme outlining (and defining) a projects dependencies. **but hear me out!**

I have put together a couple of reasons why I think restricting the dependencies to existing files/formats hurts the usage of this project more than it aids it. Particularly when working in a team. (I understand that motiv

[2022-11-25 22:56] jhheider commented on #201
I don't think your points are wrong, @JakeHL. I've long thought that allowing a `new Regex("^\.?tea.(json|ya?ml|toml$")` as a second source of truth would be advantageous to some. Are you interested in implementing that? It obviously makes configuration search more expensive (if we have to check 9 possibilities rather than 1, though that isn't necessarily a killer). One way to do it without incurr

[2022-11-25 23:29] JakeHL commented on #201
Hello, I'd definitely be interested in doing the work.

I'm not familiar with the codebase yet so maybe I'm being naive but if by 'expensive' you mean in terms of performance I'd say it's not unreasonable to clearly define a hierarchy of priority.

For example if a tea.json existed, can we assume that there would be no need to check the readme? I can't think of a reason tea.json would exist if a d

[2022-11-25 23:35] jhheider commented on #201
If we (or you) only want to implement JSON(C), I don't see any issue with that as a first step. I'll note that we use YAML front matter in README.md, and the package definitions in the pantry are in YAML as well, so that might be a more natural "first" config format. But I certainly don't dictate terms to those excited to implement their favorite feature. ;)

[2022-11-25 23:40] JakeHL commented on #201
I'm absolutely happy to go with yaml, I'd like to keep it consistent. You raise a good point regarding the front matter. It would make it easy to lift and shift from one place to another.

Thanks for the discussion! I'll get started on a PR.

[2022-11-26 14:36] mxcl commented on #199
We don’t add `.` to the `PATH`. However we do add `~/.tea/tea.xyz/v\*/bin` to the `PATH` in some situations to ensure `tea` can be found by sub processes and that is where you made the `tea_gum` symlink.

Where is `gum`?

This may be fixed with the latest release since I added a check that we don’t execute `foo` if `foo` is a symlink to `tea` when executing in `tea -X foo` mode.

[2022-11-26 14:45] #178 closed

[2022-11-26 15:45] mxcl commented on #170
yeah I agree, we shouldn’t be running stuff from outside tea with `-X`. I'll fix this.

[2022-11-26 15:52] mxcl commented on #170
Adding all the provides is an ongoing task. I could probably do a quick pass

[2022-11-26 16:03] #170 closed

[2022-11-26 16:03] mxcl commented on #170
I see @jhheider beat me to it: https://github.com/teaxyz/pantry.core/pull/37#pullrequestreview-1194887333

Closing

[2022-11-26 21:08] jakehl commented on #201
I completely agree that this is the way that it *should* be, but anecdotally I can confidently say that it's not always the case. I work as an independent software contractor so find myself working as part of all kinds of teams - there's always people with different views of what they think the purpose of a readme is. Especially when working with a monorepo.

On the flip side, however, I do think

[2022-11-27 14:17] mxcl commented on #201
Part of the reason I picked README and `package.json` is in my experience the people who make choices about what tools to use are far more apposed to adding “yet another f**ing file*. So we certainly are coming at this with different anecdotes.

This is also part of the reason we try to infer the environment automatically with our “magic” (though this only works for a couple of situations currentl

[2022-11-27 14:27] mxcl commented on #201
I guess really it should be `package.yml` and use the same format as the pantry.

We have a messy story currently with all this stuff TBH.

[2022-11-27 18:33] lino-levan opened #205 "`useGithubAPI().getVersions()` should not need auth"
### Motivation
According to the [comments on the getVersion method](https://github.com/teaxyz/cli/blob/e36d296ebe93890d8bbdf3f8e2f231e854c9b65c/src/hooks/useGitHubAPI.ts#L34):

Why don't we just use the GitHub tags API and sort the tags according to semver? This should work for a majority of cases, and we can always be more clever if we need to.

<details>
<summary>I've written of proof of concept

[2022-11-27 19:04] mxcl commented on #205
We originally used tags, but you have to paginate all of the tags, which can be 20 pages. Without a token GitHub limit you to 10 requests a minute, so you *still* need a token.

Also this only effects builds which most users will not do, so I feel requiring a token is acceptable.

I *would* prefer not to need a token, I just don’t see how we can achieve this.

[2022-11-27 19:09] lino-levan commented on #205
With the GitHub tags API, I don't see any option for pagination. I'm pretty sure the `/repos/:user/:repo/git/refs/tags` endpoint returns all tags in one go. 10 requests a minute seems like way more than we need if we don't do pagination?

[2022-11-27 19:11] mxcl commented on #167
This is live. Reopen if I'm mistaken.

[2022-11-27 19:11] #167 closed

[2022-11-27 19:34] #171 closed

[2022-11-27 19:35] mxcl commented on #171
Do we need a release or is this bug not impacting any pantry ops?

[2022-11-27 19:36] mxcl commented on #169
I use `ln -s ~/.tea/deno.land/v*/bin/deno /usr/local/bin/deno` personally.

as with brew I designed tea to have utility outside the tool itself.

[2022-11-27 19:37] jhheider commented on #171
I only saw it impacting the PR that updated all the missing provides; technically that doesn't need to be built anyway.

[2022-11-27 19:38] mxcl commented on #169
all the binaries can be run without a venv, by design. Though this only works for the binaries.

This is the case because we correctly set the rpaths. Now inside the venv things are *more* specific since we can set the dynamic library link path to specific versions of things. But that isn't so important for general sysops.

[2022-11-27 19:41] mxcl commented on #171
cool, I'll release a point release at the next bug fix then

[2022-11-27 21:59] magnusviri commented on #199
It's fixed.

[2022-11-27 21:59] #199 closed

[2022-11-27 22:21] jakehl commented on #201
I do understand where you are coming from entirely. It's completely fair to be frustrated at the state of 'every tool needs some config and a file in the root'. Personally I'd like to see a source control agnostic version of the `.github` folder to solve that issue, but that's a topic for another day lol. So for now I guess I'm used to the stick it all in the root approach. I think trying not to m

[2022-11-27 22:24] jhheider commented on #201
Possibly normalizing:
[code]

[2022-11-27 23:44] magnusviri commented on #169
Hm. I didn't know the bin's were usable without tea.

When you explained this I had an idea. I'm not sure this makes a lot of sense, but the idea that occurred to me was to make static files that do what tea does and store them in the version directories. For example, ~/.tea/curl.se/v7.86.0/env.sh. And then add it via the shell's source command: `. ~/.tea/curl.se/v7.86.0/env.sh`.

Anyway, it was j

[2022-11-27 23:44] #169 closed

[2022-11-28 00:45] mxcl commented on #169
Like we could, but is it really better than `. $(tea -d +foo.com)` which is the same.

[2022-11-28 07:15] miles170 commented on #145
What magic keyword should we use?

[2022-11-28 07:25] jhheider commented on #145
I can think of two easy options (or maybe they're the same option):

`^(#|//)\s+tea`, or possibly `^(#|//)\s+tea.$extension` to indicate the script's language (tea.ts, tea.rb, tea.py, etc).

[2022-11-28 14:54] mxcl opened #206 "Be able to `execvp`"
`deno` doesn’t provide it, but we can get it with the [ffi api](https://deno.land/manual@v1.15.0/runtime/ffi_api)

[2022-11-28 19:27] Xercesblu3 commented on #24
@calvinyee is this something you can do? Should be your next focus.

[2022-11-28 20:50] calvinyee commented on #24
Sure, Just to make sure I get the details right. My understanding is that if there is a VERSIONS file at the root, the TS code for teaxyz/cli should use what is in the VERSIONS file instead of what is in the code now ?

[2022-11-28 21:17] jhheider commented on #24
I would say:

"If a directory contains /^VERSIONS?(\.(txt|md))?$/i, pass its contents through the GitHub tag parsing logic to check if it produces a parsable semver."

[2022-11-29 01:01] mxcl commented on #24
If there's a `VERSION` file `useVirtualEnv.ts` uses that for the `version` key.

[2022-11-29 02:58] miles170 commented on #145
There is one big problem: we simply use `^#+\\s+(.*)\\s*$` to match markdown headers, which will cause comments inside code blocks to be misidentified as headers.

[code]

[2022-11-29 03:05] jhheider commented on #145
might have to. it's the standard "process C multiline comments" issue. I think we've package flex and bison? Maybe? So, it might be possible to use one of those. Not cheap though.

[2022-11-29 03:08] miles170 commented on #145
By the way, what formatter do you guys use? I can't find a good way to format code.

[2022-11-29 03:10] miles170 commented on #145
I couldn't find the Flex or Bison packages in the code repository.,

[2022-11-29 03:57] jhheider commented on #145
(flex)[https://github.com/teaxyz/pantry/tree/main/projects/github.com/westes/flex]
(bison)[https://github.com/teaxyz/pantry/tree/main/projects/gnu.org/bison]

I disabled my code formatter since it was fighting with whatever Max was doing (VSCode default, maybe? Anything other than that should be in `.vscode/settings.json`.

[2022-11-29 03:59] miles170 commented on #145
Both are 404 not found.

[2022-11-29 04:01] jhheider commented on #145
Oops. I linked to the prior, private version of the pantry. Fixing.

[github.com/westes/flex](https://github.com/teaxyz/pantry.core/tree/main/projects/github.com/westes/flex)
[gnu.org/bison](https://github.com/teaxyz/pantry.core/tree/main/projects/gnu.org/bison)

[2022-11-29 05:37] magnusviri opened #210 "Confusing behavior if package and -X are not specified."
I'm not quite sure what is going on when you don't specify a package or -X. Here's an example. Most of the commands are establishing the environment.

[code]

Running the which command above made me think that tea would run the homebrew version of node. But then when I ran `install -g` it installed into tea's copy of node (~/.tea/npmjs.com/v9.0.1/lib/node_modules) instead of homebrew's (/opt/homeb

[2022-11-29 05:48] jhheider commented on #210
it's weird that `tea -d` returns nothing, but if the npmjs.org package is part of your environment, then these lines come into play: https://github.com/teaxyz/cli/blob/b4711fc6de5cf82064bf968cda64277f7f948193/src/hooks/useShellEnv.ts#L80-L82. Is it the case that there's no `tea` configuration in that directory and you're not in a REPL?

Out of curiosity, what does `tea npm config -g list` show?

[

[2022-11-29 06:13] magnusviri opened #211 "wiki for the cli?"
I've been making [notes](https://github.com/magnusviri/tea-notes) on the tea cli usage under my github, but I kind of wished that you guys looked at it and could correct things I get wrong. If there were a wiki for the cli, then I could move my notes over to it.

Also, do you guys get notified when the wiki is updated? And do you know anyone can edit it? I've been editing https://github.com/teaxyz

[2022-11-29 06:14] miles170 commented on #145
Before I get started, I'd like to confirm: should I use `repl` to run Flex or Bison inside the temporary sandbox and then return the results to deno?

[2022-11-29 06:56] jhheider commented on #145
Well, I don't even know that flex/bison is the right parser for what you want to do, but they are venerable. In general, if you needed a tool within the CLI that is provided by tea, you'd call install for the package, then use `run()` or `backticks()` to execute it. See [Unarchiver.ts](https://github.com/teaxyz/cli/blob/main/src/utils/Unarchiver.ts) for a tool that requires its own packages.

Obvi

[2022-11-29 09:41] Xercesblu3 commented on #24
@calvinyee disregard this for now, my bad. Will discuss priorities in DM.

[2022-11-29 09:46] jakehl commented on #201
@mxcl I've just come across what I think could be another reason not to use `package.json`. I guess it doesn't necessarily argue for another file as the `readme.md` is still an option.

But just for visibility:

Many text editors (I tested with Kakoune, Neovim and Helix) that work with [the Language Server Protocok](https://en.wikipedia.org/wiki/Language_Server_Protocol) will use project specific

[2022-11-29 12:17] mxcl commented on #211
Enabled, go wild. Thanks @magnusviri

[2022-11-29 12:17] #211 closed

[2022-11-29 12:53] mxcl commented on #210
The `-d` not printing anything is a bug for sure. Hard to know what else is going wrong since you didn't tell us about your virtual environment.

`tea npm` should fail if there's no `npm` in the virtual env IMO. just like `tea -X foo` fails if we can'f find `foo` but the rest of the system provides it.

[2022-11-29 21:32] jhheider opened #214 "tea --version and tea -v are different:"
[code]

[2022-11-30 15:46] magnusviri commented on #210
Oh, this is really weird. It's behaving differently today. I'm not sure what's going on.

[2022-11-30 16:06] magnusviri commented on #210
Ugh, I ran the command from a Terminal window that had a different TEA_PANTRY_PATH set, so the comment above had all the wrong info. So I deleted it from the comment. `config -g list` is giving me a lot to do, and I don't have the time to do it all right now, so I'll have to come back to this later.

[2022-11-30 20:15] pedrocruzio commented on #214
On [line 169](https://github.com/teaxyz/cli/blob/65a2bc4f9ea84e80e32193035c347fd15fd88ac9/src/hooks/useFlags.ts#L169) in `useFlags.ts`, case: 'v' does not output the version.

There may be a conflict between the version and verbose flags.